<!DOCTYPE html>
<html  lang="en">

<head >
  <meta  charset="UTF-8">
  <meta  name="viewport" content="width=device-width, initial-scale=1.0">
  <link  rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js">
  <link  rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css">
  <title >Document</title>
</head>

<body >
  <div  class="container-fluid">
    <div  class="container">
      <div  class="row justify-content-center">
        <div  class="col-md-6 mt-5">
          <div  class="card mt-5 p-5">
            <div  class="text-center text-white">
              <h1  class="mb-4">LOGIN</h1>
            </div>
            <form method="POST" [formGroup] = 'formLogin' (submit)="onLogin()">
              <div  class="mb-3"><label for="exampleInputEmail1" class="form-label text-white">Email address</label>
                  <input
                   type="email" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Email address..." class="form-control" formControlName = 'email'>
              </div>
              <div class="mb-3 " *ngIf="form['email'].touched && form['email'].errors">
                  <small class="help-block" *ngIf=" form['email'].errors['required']">Enter the email</small>
                  <small class="help-block" *ngIf=" form['email'].errors['email']">Email is invalid</small>
              </div>
              <div  class="mb-3"><label  for="exampleInputPassword1" class="form-label text-white" >Password</label>
                 <input
                   type="password" id="exampleInputPassword1" placeholder="Passwork..."
                  class="form-control" formControlName="password">
              </div>
              <div class="mb-3 " *ngIf="form['password'].touched && form['password'].errors">
                <small class="help-block" *ngIf=" form['password'].errors['required']">Password is invalid</small>
                <small class="help-block" *ngIf=" form['password'].errors['pattern']">Password is too short</small>
            </div>

              <div  class="mb-3 form-check">
                <input type="checkbox" id="exampleCheck1" class="form-check-input">
                  <label for="exampleCheck1" class="form-check-label text-white">Check me out</label>
              </div>

                  <button type="submit" class="btn btn-primary w-100 btnLogin">Login</button>

            </form>
            <div  class="my-3">
              <a routerlink="/signup"
                class="text-dark">I don't have count!!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
